!!!
%html
%head

%title Depot
=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
=javascript_include_tag 'application', 'data-turbolinks-track' => true
=csrf_meta_tags

%body{:class => controller.controller_name}
 #banner
  =image_tag("logo.png")
  =@page_title || "Pragmatic Bookshelf"

 #columns
  #side
   -if @cart
    = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
     = render @cart
   %ul
    %li= link_to "Home", store_path
    %li= link_to "Questions", '#'
    %li= link_to "News", '#' 
    %li= link_to "Contact", '#' 
    %li= Date.today()
   -if session[:user_id]
    %ul
     %li= link_to 'Orders', orders_path
     %li= link_to 'Products', products_path
     %li= link_to 'Users', users_path
    = button_to 'Logout', logout_path, method: :delete
   -else
    = button_to 'Login', login_path, method: :get

  #main
   =yield